<footer class="footer">
  <div class="footer-container container">
    <div class="footer-elements">
      <div class="side-left">
        <div class="intro-logo">
          <div class="logo-vn">
            <img alt="Vietnam" src="../../public/assets/image/vn_flag.svg" width="24" height="16" loading="lazy" decoding="async" />
          </div>
          <span data-i18n="footer.slogan">Hoàng Sa & Trường Sa là của Việt Nam!</span>
        </div>

        <div class="main-logo">
          <a class="footer-logo" href="#">
            <img
              src="../../public/assets/image/Logo.svg"
              alt="UIT Film Logo"
              width="120" height="40" loading="lazy" decoding="async" />
          </a>
          <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=61568709059553" class="social-link"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.tiktok.com/@uitsneakersvietnam" class="social-link"><i class="bx bxl-tiktok"></i></a>
            <a href="https://github.com/thinh1311ss" class="social-link"><i class="bx bxl-github"></i></a>
            <a href="https://www.instagram.com/uit_sneakersvn/" class="social-link"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="social-link"><i class="bx bxl-youtube"></i></a>
            <a href="#" class="social-link"><i class="bx bxl-discord"></i></a>
            <a href="#" class="social-link"><i class="bx bxl-twitter"></i></a>
          </div>
        </div>

        <div class="footer-menu">
          <a title="Hỏi-Đáp" href="../pages/FAQ.html" data-i18n="footer.menu.faq">Hỏi-Đáp</a>
          <a title="Chính sách bảo mật" href="../pages/PrivacyPolicy.html" data-i18n="footer.menu.privacy">
            Chính sách bảo mật
          </a>
          <a title="Điều khoản" href="../pages/TermsOfService.html" data-i18n="footer.menu.terms">
            Điều khoản
          </a>
          <a title="Giới thiệu" href="../pages/AboutUs.html" data-i18n="footer.menu.about">Giới thiệu</a>
          <a title="Liên hệ" href="../pages/Contact.html" data-i18n="footer.menu.contact">Liên hệ</a>
        </div>

        <div class="notice" data-i18n="footer.description">
          UIT Film - Trang xem phim online chất lượng cao miễn phí Vietsub, thuyết minh, lồng tiếng full HD. Kho phim mới khổng lồ, phim chiếu rạp, phim bộ, phim lẻ từ nhiều quốc gia như Việt Nam, Hàn Quốc, Trung Quốc, Thái Lan, Nhật Bản, Âu Mỹ… đa dạng thể loại. Khám phá nền tảng phim trực tuyến hay nhất 2024 chất lượng 4K!
        </div>

        <div class="end-site-notice" data-i18n="footer.copyright">
          © 2025 UIT Film. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>