<!-- start-header -->
<section class="header">
  <div class="header-container container">
    <div class="mobile menu-toggle">
      <div class="icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <a class="header-logo" href="../../view/pages/HomePage.html">
      <img
        src="../../public/assets/image/Logo.svg"
        alt="UIT Film Logo"
        width="120" height="40" loading="lazy" decoding="async" />
    </a>
    <div class="language-switcher mobile-lang">
      <button
        class="swap-language"
        aria-haspopup="listbox"
        aria-expanded="false"
      >
        <img
          src="../../public/assets/image/Flag_of_Vietnam.svg"
          alt="VN"
          class="current-flag"
          data-lang="vi"
          width="24" height="16" loading="lazy" decoding="async" />
        <i class="fa-solid fa-caret-down caret"></i>
      </button>

      <ul class="select-language" role="listbox">
        <li role="option" data-lang="vi" class="lang-option is-active">
          <img
            src="../../public/assets/image/Flag_of_Vietnam.svg"
            alt="VN"
            class="flag-icon"
            width="24" height="16" loading="lazy" decoding="async" />
          <span>Tiếng Việt</span>
        </li>
        <li role="option" data-lang="en" class="lang-option">
          <img
            src="../../public/assets/image/English-flag.svg"
            alt="UK"
            class="flag-icon"
            width="24" height="16" loading="lazy" decoding="async" />
          <span>English</span>
        </li>
      </ul>
    </div>
    <div class="mobile search-toggle">
      <div class="icon-search">
        <span></span>
        <span></span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="search">
      <div class="search-box">
        <!-- import search bar -->
      </div>
    </div>
    <div class="search-group">
      <div id="main_menu" class="menu">
        <div class="menu-film-type">
          <a
            title="Phim lẻ"
            href="../pages/Danhsach.html?type=movie"
            data-i18n="header.movie"
            >Phim lẻ</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="Phim bộ"
            href="../pages/Danhsach.html?type=tv"
            data-i18n="header.tv"
            >Phim bộ</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="TV Shows"
            href="../pages/Danhsach.html?type=tv-shows"
            >TV Shows</a
          >
        </div>
        <div class="menu-film-type dropdown">
          <a class="dropdown-toggle" title="Quốc gia">
            <span data-i18n="header.country">Quốc gia</span>
            <i class="fa-solid fa-caret-down ms-2"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="../pages/Danhsach.html?type=all&country=my" data-i18n="country.us">Mỹ</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=nhat-ban" data-i18n="country.jp">Nhật Bản</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=han-quoc" data-i18n="country.kr">Hàn Quốc</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=trung-quoc" data-i18n="country.cn">Trung Quốc</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=anh" data-i18n="country.gb">Anh</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=phap" data-i18n="country.fr">Pháp</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=thai-lan" data-i18n="country.th">Thái Lan</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=dai-loan" data-i18n="country.tw">Đài Loan</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=hong-kong" data-i18n="country.hk">Hồng Kông</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=an-do" data-i18n="country.in">Ấn Độ</a></li>
            <li><a href="../pages/Danhsach.html?type=all&country=viet-nam" data-i18n="country.vn">Việt Nam</a></li>
          </ul>
        </div>
        <div class="menu-film-type">
          <a
            title="Hoạt hình"
            href="../pages/Danhsach.html?type=all&genre=hoat-hinh"
            data-i18n="header.animation"
            >Hoạt hình</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="Kinh dị"
            href="../pages/Danhsach.html?type=movie&genre=kinh-di"
            data-i18n="header.horror"
            >Kinh dị</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="Hành động"
            href="../pages/Danhsach.html?type=movie&genre=hanh-dong"
            data-i18n="header.action"
            >Hành động</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="Hài"
            href="../pages/Danhsach.html?type=all&genre=hai-huoc"
            data-i18n="header.comedy"
            >Hài</a
          >
        </div>
        <div class="menu-film-type">
          <a
            title="Gia đình"
            href="../pages/Danhsach.html?type=all&genre=gia-dinh"
            data-i18n="header.family"
            >Gia đình</a
          >
        </div>
      </div>
      <div class="app-download"></div>

      <div class="user-lang">
        <div class="header-button">
          <!-- Language Switcher -->
          <div class="language-switcher desktop-lang">
            <button
              class="swap-language"
              aria-haspopup="listbox"
              aria-expanded="false"
            >
              <img
                src="../../public/assets/image/English-flag.svg"
                alt="VN"
                class="current-flag"
                data-lang="vi"
                width="24" height="16" loading="lazy" decoding="async" />
              <i class="fa-solid fa-caret-down caret"></i>
            </button>

            <ul class="select-language" role="listbox">
              <li role="option" data-lang="vi" class="lang-option is-active">
                <img
                  src="../../public/assets/image/Flag_of_Vietnam.svg"
                  alt="VN"
                  class="flag-icon"
                  width="24" height="16" loading="lazy" decoding="async" />
                <span>Tiếng Việt</span>
              </li>
              <li role="option" data-lang="en" class="lang-option">
                <img
                  src="../../public/assets/image/English-flag.svg"
                  alt="UK"
                  class="flag-icon"
                  width="24" height="16" loading="lazy" decoding="async" />
                <span>English</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- User Guest -->
        <div id="user_guest" class="user">
          <a id="btn-member" class="button-user button-login">
            <i class="fa-solid fa-user ms-1"></i>
            <span data-i18n="header.member">Thành viên</span>
          </a>
        </div>

        <!-- User Logged In -->
        <div id="main_user" class="user_logged hidden">
          <div class="user-dropdown-menu">
            <a class="header-user">
              <div class="line-center">
                <div class="user-avatar">
                  <img src="../../public/assets/image/vn_flag.svg" width="36" height="36" loading="lazy" decoding="async" />
                </div>
                <i class="fa-solid fa-caret-down"></i>
              </div>
            </a>
            <ul class="dropdown-list">
              <div class="dropdown-header">
                <div class="user-name line-center">
                  <span></span>
                </div>
              </div>
              <hr />
              <div class="ui-mobile">
                <a class="dropdown-item" href="../pages/UserDetail.html">
                  <div class="line-center">
                    <i class="fa-solid fa-user"></i>
                    <span data-i18n="header.account">Tài khoản</span>
                  </div>
                </a>
                <hr />
                <a id="Log-out-Btn" class="dropdown-item" href="#">
                  <div class="line-center">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span data-i18n="header.logout">Đăng xuất</span>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
