<div class="movie-box">
  <a class="movie-box__card" href="./DetailPage.html?slug={{id}}">
    <div class="movie-box__info-top">
      <div class="movie-box__info-ep-top"><span>TV Show</span></div>
    </div>

    <div class="movie-box__poster">
      <img class="movie-box__poster-img" src="{{poster}}" alt="{{name}}" />
    </div>
  </a>

  <div class="movie-box__info">
    <h4 class="movie-box__vietnam-title">
      <a class="movie-box__title-link" href="./DetailPage.html?slug={{id}}">{{title}}</a>
    </h4>

    <h4 class="movie-box__other-title">
      <a class="movie-box__title-link" href="#">{{original_title}}</a>
    </h4>
  </div>
</div>
