<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="list.title">Danh sách phim</title>
    <link rel="preconnect" href="https://phimimg.com" crossorigin>
    <link rel="preconnect" href="https://phimapi.com" crossorigin>
    <link rel="dns-prefetch" href="https://uit-film.onrender.com">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/image/TabLogo.svg">
    <link rel="preload" href="../../vendor/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../../vendor/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="../../vendor/css/boxicons.min.css">
    <link rel="stylesheet" href="../../vendor/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../Style/HeaderAndFooter.css">
    <link rel="stylesheet" href="../../Style/Danhsach.css">
    <link rel="stylesheet" href="../../Style/MovieCard.css">
    <link rel="stylesheet" href="../../Style/SearchBar.css">
    <script type="module" src="../../js/Danhsach.js"></script>
  </head>

  <body>
    <!-- start header -->
    <div id="header"></div>

    <script type="module">
      import { headerjs } from "../../js/Header.js";
      import { searchBar } from "../../js/SearchBar.js";
      import { translatePage } from "../../js/Translate.js";

      fetch("../components/Header.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("header").innerHTML = html;
          headerjs();
          return fetch("../components/SearchBar.html");
        })
        .then((res) => res.text())
        .then((searchHTML) => {
          const box = document.querySelector(".search-box");
          if (box) {
            box.innerHTML = searchHTML;
            searchBar();
            if (window.translations) translatePage(window.translations);
          }
        })
        .catch((error) => console.error("Fetch header/search failed:", error));
    </script>
    <!-- end header -->

    <!-- Main -->
    <main class="main">
      <!-- name -->
      <div class="main__header">
        <h3 class="main__title" data-i18n="list.heading">Danh sách phim</h3>
      </div>

      <!-- filter -->
      <div class="main__filter">
        <div class="filter__toggle">
          <i class="fa-solid fa-filter"></i>
          <span data-i18n="list.filter.toggle">Bộ lọc</span>
        </div>

        <!-- filter open -->
        <div class="filter__select hidden">
          <div class="filter__select-nav">
            <div class="filter__select-name" data-i18n="list.country.label">Quốc gia:</div>
            <div class="filter__select-list country">
              <div class="filter__select-list-item filter__select--active all" data-country="all" data-i18n="list.all">Tất cả</div>
              <div class="filter__select-list-item" data-country="my" data-i18n="country.us">Mỹ</div>
              <div class="filter__select-list-item" data-country="nhat-ban" data-i18n="country.jp">Nhật Bản</div>
              <div class="filter__select-list-item" data-country="han-quoc" data-i18n="country.kr">Hàn Quốc</div>
              <div class="filter__select-list-item" data-country="trung-quoc" data-i18n="country.cn">Trung Quốc</div>
              <div class="filter__select-list-item" data-country="anh" data-i18n="country.gb">Anh</div>
              <div class="filter__select-list-item" data-country="phap" data-i18n="country.fr">Pháp</div>
              <div class="filter__select-list-item" data-country="thai-lan" data-i18n="country.th">Thái Lan</div>
              <div class="filter__select-list-item" data-country="dai-loan" data-i18n="country.tw">Đài Loan</div>
              <div class="filter__select-list-item" data-country="hong-kong" data-i18n="country.hk">Hồng Kông</div>
              <div class="filter__select-list-item" data-country="an-do" data-i18n="country.in">Ấn Độ</div>
              <div class="filter__select-list-item" data-country="au-my" data-i18n="country.eu">Âu Mỹ</div>
              <div class="filter__select-list-item" data-country="canada" data-i18n="country.ca">Canada</div>
              <div class="filter__select-list-item" data-country="duc" data-i18n="country.de">Đức</div>
              <div class="filter__select-list-item" data-country="tay-ban-nha" data-i18n="country.es">Tây Ban Nha</div>
              <div class="filter__select-list-item" data-country="tho-nhi-ky" data-i18n="country.tr">Thổ Nhĩ Kỳ</div>
              <div class="filter__select-list-item" data-country="ha-lan" data-i18n="country.nl">Hà Lan</div>
              <div class="filter__select-list-item" data-country="indonesia" data-i18n="country.id">Indonesia</div>
              <div class="filter__select-list-item" data-country="nga" data-i18n="country.ru">Nga</div>
              <div class="filter__select-list-item" data-country="mexico" data-i18n="country.mx">Mexico</div>
              <div class="filter__select-list-item" data-country="viet-nam" data-i18n="country.vn">Việt Nam</div>
              <div class="filter__select-list-item" data-country="uc" data-i18n="country.au">Úc</div>
              <div class="filter__select-list-item" data-country="thuy-dien" data-i18n="country.se">Thụy Điển</div>
              <div class="filter__select-list-item" data-country="malaysia" data-i18n="country.my">Malaysia</div>
              <div class="filter__select-list-item" data-country="brazil" data-i18n="country.br">Brazil</div>
              <div class="filter__select-list-item" data-country="philippines" data-i18n="country.ph">Philippines</div>
              <div class="filter__select-list-item" data-country="y" data-i18n="country.it">Ý</div>
              <div class="filter__select-list-item" data-country="dan-mach" data-i18n="country.dk">Đan Mạch</div>
              <div class="filter__select-list-item" data-country="na-uy" data-i18n="country.no">Na Uy</div>
              <div class="filter__select-list-item" data-country="thuy-si" data-i18n="country.ch">Thụy Sĩ</div>
              <div class="filter__select-list-item" data-country="chile" data-i18n="country.cl">Chile</div>
              <div class="filter__select-list-item" data-country="hy-lap" data-i18n="country.gr">Hy Lạp</div>
              <div class="filter__select-list-item" data-country="argentina" data-i18n="country.ar">Argentina</div>
              <div class="filter__select-list-item" data-country="bo-dao-nha" data-i18n="country.pt">Bồ Đào Nha</div>
              <div class="filter__select-list-item" data-country="ba-lan" data-i18n="country.pl">Ba Lan</div>
              <div class="filter__select-list-item" data-country="bi" data-i18n="country.be">Bỉ</div>
              <div class="filter__select-list-item" data-country="singapore" data-i18n="country.sg">Singapore</div>
              <div class="filter__select-list-item" data-country="quoc-gia-khac" data-i18n="country.other">Quốc gia khác</div>
            </div>
          </div>

          <!-- Film genre -->
          <div class="filter__select-nav">
            <div class="filter__select-name" data-i18n="list.type.label">
              Loại phim:
            </div>
            <div class="filter__select-list movie-type">
              <div
                class="filter__select-list-item filter__select--active"
                data-type="all"
                data-i18n="list.all"
              >
                Tất cả
              </div>
              <div
                class="filter__select-list-item"
                data-type="movie"
                data-i18n="list.type.movie"
              >
                Phim lẻ
              </div>
              <div
                class="filter__select-list-item"
                data-type="tv"
                data-i18n="list.type.tv"
              >
                Phim bộ
              </div>
              <div
                class="filter__select-list-item"
                data-type="tv-shows"
              >
                TV Shows
              </div>
            </div>
          </div>

          <!-- Genre -->
          <div class="filter__select-nav">
            <div class="filter__select-name" data-i18n="list.genre.label">
              Thể loại:
            </div>
            <div class="filter__select-list movie-genre">
              <div
                class="filter__select-list-item filter__select--active all"
                data-genre="all"
                data-i18n="list.all"
              >
                Tất cả
              </div>

              <!-- Common -->
               <div
                class="filter__select-list-item"
                data-genre="hoat-hinh"
                data-i18n="genre.animation"
              >
                Hoạt hình
              </div>
              <div
                class="filter__select-list-item"
                data-genre="hai-huoc"
                data-i18n="genre.comedy"
              >
                Hài
              </div>
              <div
                class="filter__select-list-item"
                data-genre="hinh-su"
                data-i18n="genre.crime"
              >
                Hình sự
              </div>
              <div
                class="filter__select-list-item"
                data-genre="tai-lieu"
                data-i18n="genre.documentary"
              >
                Phim tài liệu
              </div>
              <div
                class="filter__select-list-item"
                data-genre="chinh-kich"
                data-i18n="genre.drama"
              >
                Chính kịch
              </div>
              <div
                class="filter__select-list-item"
                data-genre="gia-dinh"
                data-i18n="genre.family"
              >
                Gia đình
              </div>
              <div
                class="filter__select-list-item"
                data-genre="bi-an"
                data-i18n="genre.mystery"
              >
                Bí ẩn
              </div>
              <div
                class="filter__select-list-item"
                data-genre="vien-tuong"
                data-i18n="genre.scifi"
              >
                Viễn Tưởng
              </div>
              <div
                class="filter__select-list-item"
                data-genre="hanh-dong"
                data-i18n="genre.action"
              >
                Hành động
              </div>
              <div
                class="filter__select-list-item"
                data-genre="phieu-luu"
                data-i18n="genre.adventure"
              >
                Phiêu lưu
              </div>
              <div
                class="filter__select-list-item"
                data-genre="ky-an"
                data-i18n="genre.fantasy"
              >
                Kỳ ảo
              </div>
              <div
                class="filter__select-list-item"
                data-genre="co-trang"
                data-i18n="genre.historical"
              >
                Cổ trang
              </div>
              <div
                class="filter__select-list-item"
                data-genre="kinh-di"
                data-i18n="genre.horror"
              >
                Kinh dị
              </div>
              <div
                class="filter__select-list-item"
                data-genre="am-nhac"
                data-i18n="genre.music"
              >
                Âm nhạc
              </div>
              <div
                class="filter__select-list-item"
                data-genre="tinh-cam"
                data-i18n="genre.romance"
              >
                Tình cảm
              </div>
              <div
                class="filter__select-list-item"
                data-genre="chien-tranh"
                data-i18n="genre.war"
              >
                Chiến tranh
              </div>
              <div
                class="filter__select-list-item"
                data-genre="the-thao"
                data-i18n="genre.sports"
              >
                Thể thao
              </div>
              <div
                class="filter__select-list-item"
                data-genre="tam-ly"
              >
                Tâm lý
              </div>
              <div
                class="filter__select-list-item"
                data-genre="vo-thuat"
              >
                Võ thuật
              </div>
              <div
                class="filter__select-list-item"
                data-genre="khoa-hoc"
              >
                Khoa học
              </div>
              <div
                class="filter__select-list-item"
                data-genre="than-thoai"
              >
                Thần thoại
              </div>
              <div
                class="filter__select-list-item"
                data-genre="hoc-duong"
              >
                Học đường
              </div>
              <div
                class="filter__select-list-item"
                data-genre="kinh-dien"
              >
                Kinh điển
              </div>
              <div
                class="filter__select-list-item"
                data-genre="phim-18"
              >
                Phim 18+
              </div>

            </div>
          </div>

          <div class="filter__select-nav">
            <div class="filter__select-name" data-i18n="list.sort.label">Sắp xếp:</div>
            <div class="filter__select-list arrange">
              <div class="filter__select-list-item filter__select--active" data-arrange="new" data-i18n="list.sort.new">Mới nhất</div>
              <div class="filter__select-list-item" data-arrange="imdb-desc">IMDB (Cao → Thấp)</div>
              <div class="filter__select-list-item" data-arrange="imdb-asc">IMDB (Thấp → Cao)</div>
              <div class="filter__select-list-item" data-arrange="view-desc">Lượt xem (Cao → Thấp)</div>
              <div class="filter__select-list-item" data-arrange="view-asc">Lượt xem (Thấp → Cao)</div>
            </div>
          </div>

          <!-- filter button -->
          <div class="filter__select-last-nav">
            <button class="filter__select-btn">
              <span data-i18n="list.filter.apply">Lọc kết quả</span>
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            <button class="filter__close-btn" data-i18n="list.close">
              Đóng
            </button>
          </div>
        </div>
      </div>

      <!-- Movie card -->
      <div class="movie"></div>

      <!-- pagination -->
      <div class="content__pagination">
        <button class="pagination-left-arrow disable">
          <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="pagination__main">
          <span data-i18n="list.pagination.page">Trang</span>
          <span class="pagination-page-current">1</span>
          <span>/ 100</span>
        </div>

        <button class="pagination-right-arrow">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </main>

    <!-- Start footer -->
    <footer id="footer"></footer>

    <script type="module">
      fetch("../components/Footer.html")
        .then((res) => res.text())
        .then((html) => {
          document.getElementById("footer").innerHTML = html;
        })
        .catch((error) => {
          console.error("Fetch footer failed:", error);
        });
    </script>
    <!-- End footer -->
  </body>
</html>
